body {
  text-align: center;
  background-color: rgb(143, 241, 156);
  padding-top: 30px;
}

h1 {
  text-align: center;
}

a {
  color: brown;
  margin-left: 10px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
