body {
  text-align: center;
  background-color: rgb(215, 197, 151);
  padding-top: 30px;
}

h1,
p {
  text-align: center;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  color: rgb(15, 75, 30);
  margin: 0 10px;
}
